<p id="notice"><%= notice %></p>

<h1>Nandeyanens</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nandeyanens.each do |nandeyanen| %>
      <tr>
        <td><%= nandeyanen.title %></td>
        <td><%= nandeyanen.message %></td>
        <td><%= link_to 'Show', nandeyanen %></td>
        <td><%= link_to 'Edit', edit_nandeyanen_path(nandeyanen) %></td>
        <td><%= link_to 'Destroy', nandeyanen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nandeyanen', new_nandeyanen_path %>
