<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @nandeyanen.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @nandeyanen.message %>
</p>

<%= link_to 'Edit', edit_nandeyanen_path(@nandeyanen) %> |
<%= link_to 'Back', nandeyanens_path %>
